{% extends 'base.html.twig' %}

{% block title %}New Annonces{% endblock %}

{% block body %}
<div class="container">
    <h6>Creer une nouvelles Annonces</h6>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('app_annonces_index') }}" >retour à la liste</a>
    </div>
{% endblock %}
