{% extends '@EasyAdmin/layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}
      <div class="container mt-5 mb-5">
            <div class="jumbotron">
                 <h3 class="display-4">Administration</h3>
                    <p class="lead">Bienvenue dans l'interface d'administration de notre site .</p>
                    
                 
            </div>  
      </div>
{% endblock %}
